body {
    background-color: black;
}

canvas {
    padding: 0;
    margin: auto;
    position: absolute;
    inset: 0;
    width: clamp(min(90vw, 90vh), 1024px, min(95vw, 95vh));/*95vw;*/
    height: auto;
}